@model Gnew.Models.RegisterTb

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@section style{
 
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/datepicker.css" rel="stylesheet" />


}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>RegisterTb</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DateReg, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">


                @Html.EditorFor(model => model.DateReg, new { htmlAttributes = new { @class = "form-control", placeholder = " dd-mm-yyyy" } })
                @Html.ValidationMessageFor(model => model.DateReg, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentRegNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentRegNo, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                @Html.ValidationMessageFor(model => model.StudentRegNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.projectId, "projectId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("projectId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.projectId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("Description", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">


        $(function () {
            $("#DateReg").datepicker
                ({
                    dateFormat: 'dd-mm-yy',
                    showStatus: true,
                    showWeeks: true,
                    highlightWeek: true,
                    numberOfMonths: 1,
                    showAnim: "clip",
                    //showAnim: "fold",
                    showOptions: {
                        origin: ["top", "left"]
                    }
                });
        });
    </script>
}
